:root {
  --primary: #ef305e;
  --background: #ffffff;
  --foreground: #d6d6d6;
  --heading-clr: #0f1014;
  --text-clr: #717171;

  --shadow: 0 0 20px 1px #b3aeae8f;
}
[data-theme="dark"] {
  --primary: #ef305e !important;
  --background: #0f1014 !important;
  --foreground: #1a1b1e !important;
  --heading-clr: #ffffff !important;
  --text-clr: #636674 !important;

  --shadow: 0 0 20px 1px #0000008f;
}
:root {
  --dark: #0f1014 !important;
  --dark-alt: #1a1b1e !important;
  --light: #ffffff !important;
  --light-alt: #636674 !important;

  --success: #23c552 !important;
  --error: #f84f31 !important;
  --warning: #ff832b !important;
  --info: #4091d7 !important;

  --fc-border-color: #a9a9a93d;
  --fc-neutral-text-color: var(--text-clr);
}

// Colors
$primary: var(--primary);
$background: var(--background);
$foreground: var(--foreground);
$heading-clr: var(--heading-clr);
$text-clr: var(--text-clr);
$dark: var(--dark);
$dark-alt: var(--dark-alt);
$light: var(--light);
$light-alt: var(--light-alt);
$success: var(--success);
$error: var(--error);
$warning: var(--warning);
$info: var(--info);

// Fonts
$sans-serif: "Cairo", sans-serif;
$monospace: "Victor Mono", monospace;

// Shadows
$shadow: var(--shadow);
